<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select User Type</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='intermediate.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container gradient-background">
        <div class="login-box">
            <h2>Are you a...</h2>
            <div class="button-group">
                <button id="student-button" class="login-button">Student</button>
                <button id="hr-button" class="login-button">HR</button>
            </div>
        </div>
    </div>

    <script src="../static/intermediate.js"></script> <!-- New JS file -->
</body>
</html>
