<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='RegisterPage.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="login-container gradient-background">
        <div class="login-box">
            <h2>Register</h2>
            <p id="error-message" class="error-message" style="display: none;">Registration failed. Please try again.</p>
            <form id="register-form">
                <div class="input-group">
                    <label>Name:</label>
                    <input type="text" id="name" required>
                </div>
                <div class="input-group">
                    <label>Email ID:</label>
                    <input type="email" id="emailID" required>
                </div>
                <div class="input-group">
                    <label>Password:</label>
                    <input type="password" id="password" required>
                </div>
                <div class="input-group">
                    <label>Role:</label>
                    <select id="role" required>
                        <option value="">Select Role</option>
                        <option value="candidate">Candidate</option>
                        <option value="hr">HR</option>
                    </select>
                </div>
                <button type="submit" class="login-button">Register</button>

                                <p class="links">
                    <a href="{{ url_for('auth.login_page') }}" class="register-now">Login Now</a>
                </p>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='RegisterPage.js') }}"></script>
</body>
</html>
